<!-- ***** Cool Facts Area Start ***** -->
<section class="cool_facts_do_area section_padding_90_50 clearfix jarallax bg-overlay1by4" style="background-color: #2C2C34;" id="cool_numbers">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="right-left-border-shape">
                        <div class="cool_fact_icon">
                            <i class="ti-stats-up"></i>
                        </div>
                        <!-- Single Cool Detail-->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">3500</span></h3>
                            <h2>BanRegio</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="right-left-border-shape">
                        <div class="cool_fact_icon">
                            <i class="ti-money"></i>
                        </div>
                        <!-- Single Cool Detail-->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">-2100</span></h3>
                            <h2>CitiBanamex</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="right-left-border-shape">
                        <div class="cool_fact_icon">
                            <i class="ti-gift"></i>
                        </div>
                        <!-- Single Cool Detail-->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">500</span></h3>
                            <h2>En puntos</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Cool Fact-->
                <div class="single_cool_fact text-center">
                    <div class="right-left-border-shape">
                        <div class="cool_fact_icon">
                            <i class="ti-light-bulb"></i>
                        </div>
                        <!-- Single Cool Detail-->
                        <div class="cool_fact_detail">
                            <h3><span class="counter">450</span></h3>
                            <h2>CFE</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Cool Facts Area End ***** -->