<!-- ***** Frequently Asked Question Area ***** -->
<section class="frequently_asked_question section_padding_90_100 clearfix" id="faq">
    <div class="container">
        <div class="row">
            <!-- Heading Text  -->
            <div class="col-12 text-center">
                <div class="section-heading">
                    <h2>Estas Son Algunas De <br>Las Preguntas Más Frecuentes</h2>
                    <p>Revisa esta sección y si aún tienes dudas ponte en contacto con nosotros.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Mi información está segura?</h5>
                    <p>Claro que sí, los bancos se encargan de eso, nosotros sólo los unimos.</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Puedo pagar otros servicios aquí como cable?</h5>
                    <p>Aún no, pero estamos trabajando en expandir nuestros pagos de servicios.</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Por qué nos cobran por pagos que puedo hacer directamente?</h5>
                    <p>Honestamente, tenemos que comer ): y te ahorramos las filas. Velo como un servicio VIP.</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Hay app?</h5>
                    <p>Sí, sólo falta hacerla, está en nuestras mentes.</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Puedo hacer transferencias bancarias?</h5>
                    <p>Chécalo con el equipo de back-end.</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>¿Jack cabía en la madera?</h5>
                    <p>Sí, Rose era una envidiosa insensible.</p>
                </div>
            </div>
            <!-- Support Button  -->
            <div class="col-12">
                <div class="support_text text-center">
                    <h4>¿Aún tienes dudas? <a href="#">¡Contáctanos!</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Frequently Asked Question End ***** -->