<!-- ***** Our Service Area Start ***** -->
<section class="our-service-area bg-white section_padding_90_50 clearfix" id="faq">
    <!-- Heading Text -->
    <div class="section-heading text-center">
        <h2>En tres simples pasos</h2>
        <p>Podrás ser parte del inicio de una nueva era de comunicación con tu banco.</p>
    </div>
    <div class="service_grid">
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.2s">
                <i class="ti-user"></i>
                <h5>Registro</h5>
                <p>Crea tu usuario y llena el formulario con tus datos.</p>
            </div>
        </div>
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.4s">
                <i class="ti-lock"></i>
                <h5>Validación</h5>
                <p>Te enviaremos un mensaje para validar tu información.</p>
            </div>
        </div>
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.6s">
                <i class="ti-headphone-alt"></i>
                <h5>Pregúntale a TuBanquero</h5>
                <p>Manda un mensaje al teléfono de TuBanquero y recibirás respuesta de inmediato.</p>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Service Area End ***** -->