<!-- ***** Footer Area Start ***** -->
<section class="footer-area clearfix">
    <div class="top-footer-area pb-5">
        <div class="container">
            <div class="row">
                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single_bottom_area mt-5">
                        <h5>Navegación</h5>
                        <ul class="footer-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Suscríbete</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_bottom_area mt-5">
                        <h5>Links</h5>
                        <ul class="footer-menu">
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Términos y condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-12 col-sm-6 col-lg">
                     Single Bottom Area 
                    <div class="single_bottom_area mt-5">
                        <h5>Acerca de</h5>
                        <p>Todos los derechos reservados. Tu Banquero 2018.</p>
                         Social Links Area 
                        <div class="social_links_area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div> -->

                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single_bottom_area mt-5">
                        <h5>Contacto</h5>
                        <p>Contáctanos por los siguientes medios para cualquier asunto:</p>
                        <a href="#" class="d-block"><i class="fa fa-phone" aria-hidden="true"></i> +00777 222 111</a>
                        <a href="#" class="d-block"><i class="fa fa-envelope-open" aria-hidden="true"></i> contacto@tubanquero.com</a>
                        <a href="#" class="d-block"><i class="fa fa-globe" aria-hidden="true"></i> www.tubanquero.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row_foot">
        <p>Todos los derechos reservados. Tu Banquero 2018.</p>
    </div>
</section>
<!-- ***** Footer Area End ***** -->