<!-- ***** Header Area Start ***** -->
<header class="header_area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Menu Area Start -->
            <div class="col-12 h-100">
                <div class="menu_area h-100">
                    <nav class="navbar h-100 navbar-expand-lg align-items-center">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#"><img src="img/icon/white_logo_transparent.png" height="20" width="240"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#blinkNav" aria-controls="blinkNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="blinkNav">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#services">¿Por qué?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#faq">¿Cómo?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#subscribe">Suscríbete</a>
                                </li>
                            </ul>
                            <div class="sing-up-button">
                                <a href="/login" class="btn">Regístrate</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->