<!-- ***** Our Team Area Start ***** -->
<section class="our-team-area section_padding_90_70 clearfix" id="team">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Mis bancos</h2>
                    <p>Consulta la información de tus bancos guardados</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center">
                    <div class="member-image">
                        <img src="img/team-img/team-1.jpg" alt="">
                        <!-- Overlay -->
                        <div class="team-overlay-effect">
                            <a href="#"><i class="ti-plus"></i></a>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>BANREGIO</h4>
                        <p>Débito</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center">
                    <div class="member-image">
                        <img src="img/team-img/team-2.jpg" alt="">
                        <!-- Overlay -->
                        <div class="team-overlay-effect">
                            <a href="#"><i class="ti-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>CitiBanamex</h4>
                        <p>Crédito</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center">
                    <div class="member-image">
                        <img src="img/team-img/team-3.jpg" alt="">
                        <!-- Overlay -->
                        <div class="team-overlay-effect">
                            <a href="#"><i class="ti-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>SUNNY KHAN</h4>
                        <p>Designer</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center">
                    <div class="member-image">
                        <img src="img/team-img/team-4.jpg" alt="">
                        <!-- Overlay -->
                        <div class="team-overlay-effect">
                            <a href="#"><i class="ti-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="member-text">
                        <h4>NUEVO</h4>
                        <p>Agregar nuevo banco</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area End ***** -->