<!-- ***** Our Service Area Start ***** -->
<section class="our-service-area bg-white section_padding_90_50 clearfix" id="services">
    <!-- Heading Text -->
    <div class="section-heading text-center">
        <h2>Un poco de nosotros</h2>
        <p>Digitalizamos tus productos bancarios</p>
    </div>
    <div class="service_grid">
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.2s">
                <i class="ti-blackboard"></i>
                <h5>¿Por qué estamos aquí?</h5>
                <p>Queremos mejorar tu experiencia bancaria y facilitar tu vida financiera.</p>
                <p>Creemos que tu banco no siempre te brinda la mejor atención.</p>
            </div>
        </div>
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.4s">
                <i class="ti-rocket"></i>
                <h5>¿Cómo te ayudamos?</h5>
                <p>Tan sencillo como escribirnos un mensaje por Whatsapp.</p>
                <p>Todas tus finanzas en un mismo lugar.</p>
                <p>Tú dinos qué hacer.</p>
            </div>
        </div>
        <!-- Single Service Start -->
        <div class="service_grid_item">
            <div class="single-service text-center wow fadeInUp" data-wow-delay="0.6s">
                <i class="ti-layout-grid2-alt"></i>
                <h5>¿Qué hacemos?</h5>
                <p>Podemos pagar tus servicios (CFE y Telmex) y hacerte un análisis financiero personalizado.</p>
                <p>TuBanquero siempre a la mano.</p>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Service Area End ***** -->