<!-- ***** Subscribe Area Start ***** -->
<section class="subscribe-area section_padding_90_100 bg-overlay1by3" style="background-image:url(img/bg-img/fondo2.jpg);" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 ml-auto wow fadeIn" data-wow-delay="1s" style="margin: auto auto auto auto">
                <!-- Subscribe Content Text -->
                <div class="subscribe_content">
                    <h2>Regístrate y sé pionero de la nueva manera de hablar con tu banco</h2>
                </div>

                <!-- Form Start -->
                <div class="text-center mx-auto">
                        <a href="/login" class="btn btn-outline-light btn-lg btn-block w-50 mx-auto">Regístrate</a>
                    </div>
                <!-- Form End -->
            </div>
        </div>
    </div>
</section>
<!-- ***** Subscribe Area End ***** -->