<section class="service-details-area d-lg-flex clearfix">
    <!-- Video Area -->
    <div class="video_area wow fadeInLeftBig animated-img bg-overlay1by3 d-flex align-items-center justify-content-center" data-wow-delay="0.5s" style="background-image: url(img/bg-img/video-1.jpg);">
        <div class="video-text-icon text-center">
            <a href="https://youtube.com" class="video_button"><i class="ti-control-play"></i></a>
            <p>Conoce de qué es capaz TuBanquero</p>
        </div>
    </div>
    <!-- Content Area -->
    <div class="content-area section_padding_90_100 wow fadeInRightBig" data-wow-delay="1s">
        <div class="content-details wow fadeIn" data-wow-delay="2s">
            <!-- Content Section Text Area -->
            <div class="content-section-text">
                <h2>TuBanquero</h2>
                <p>Te invitamos a ser parte del inicio de un gran proyecto. A través de Whatsapp TuBanquero se encargará de resolver tus dudas y pagar algunos servicios.</p>
            </div>
        </div>
    </div>
</section>