<!-- ***** Wellcome Area Start ***** -->
<section class="welcome_area clearfix height-800 bg-overlay1by2" style="background-image: url(img/bg-img/welcome-2.jpg)" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="welcome-text">
                    <h2>Mi Banquero</h2>
                    <p>Bienvenido ""usuario"", en esta página encontrarás toda tu información.</p>
                    <a href="#" class="blink-btn mt-15">Mi perfil</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->