<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Aviso de privacidad</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">
</head>

<body class="mt-50">
  <div class="container-fluid text-center card w-50 mx-auto">
      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h2>Aviso de privacidad simplificado para el registro de usuarios</h2>
          </div>
          <div class="panel-body">
              <p>Héctor Andrés Meza Villanueva con domicilio en Antonio Caso 2274, Colonia Villa Itson, Cajeme 85130, Sonora, es el responsable del tratamiento de los datos personales que nos proporcione.</p>
              <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades: el pago de servicios cuando usted así lo solicite, un reporte financiero personalizado cuando usted así lo solicite, el ingreso a nuestro portal y ponernos en contacto con usted.</p>
              <p>En caso de que no desee que sus datos personales sean tratados para las finalidades  adicionales, usted puede manifestarlo mediante correo electrónico a <strong>info@tubanquero.com</strong>.</p> 
              <p>Le informamos que sus datos personales son compartidos con las personas, empresas, organizaciones y autoridades distintas al sujeto obligado, para los fines que se describen a continuación:</p>
          </div>
          <!-- Table -->
          <div class="row">
              <div class="container-fluid text-center card">
                  <table id="productstable" class="table table-striped display">
                    <thead>
                      <tr>
                        <th>Destinatario de los datos personales</th>
                        <th>País</th>
                        <th>Finalidad</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Rogelio Ventura Rivera</td>
                          <td>México</td>
                          <td>Mismas finalidades descritas anteriormente. </td>    
                        </tr>
                        <tr>
                            <td>José Eduardo Kotásek Reyna</td>
                            <td>México</td>
                            <td>Mismas finalidades descritas anteriormente. </td>    
                        </tr>
                    </tbody>
                    
                  </table>
                </div>
          </div>
          <div class="panel-body">
            <br>
            <p>Si usted no manifiesta su negativa para dichas transferencias, se entenderá que ha otorgado su consentimiento.</p>
          </div>
        </div>
  </div>
  
  
</body>

    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="/js/map-active.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</html>