<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Dashboard</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
    </div>
    <!-- Left Side Menu -->
    <div class="left-side-menu">
        <div class="left-side-menu-hide-open">
            <img class="left-arrow-btn" src="/img/core-img/left-arrow.svg" alt="">
            <img class="right-arrow-btn" src="/img/core-img/right-arrow.svg" alt="">
        </div>
        <!-- Left Side Nav -->
        <header class="left-side-nav">
            <!-- Logo -->
            <div class="left-side-logo">
                <a href="/">Tu Banquero</a>
            </div>
            <!-- Menu -->
            <nav>
                <ul class="navbar-nav ml-auto" id="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#cool_numbers">Resumen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mybanks">Mis bancos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feature">Pago de servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Recompensas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Configuración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Ayuda</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="left-side-content">
            
        <% include partials/welcome_user.ejs %>
    
        <% include partials/cool_numbers.ejs %>
    
        <% include partials/mybanks.ejs %>
    
        <% include partials/subscribe.ejs %>
    
        <% include partials/footer2.ejs %>
    </div>
</body>
<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
<script src="/js/map-active.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>

</html>