<!-- ***** Feature Area Start ***** -->
<section class="feature-area clearfix" id="product">
    <div class="feature--content-area section_padding_90_100 item">
        <!-- Service Details -->
        <div class="service-details-meta">
            <!-- Section Heading Area -->
            <div class="section-heading">
                <h2>Core Features</h2>
                <p>Everything that we know about our reality comes by way of our senses. In other words, our entire experience of reality is simply a combination of sensory information.</p>
            </div>
            <!-- Feature Area -->
            <div class="feature_area">
                <!-- Single Feature -->
                <div class="single_feature">
                    <!-- Feature Icon -->
                    <div class="feature_icon">
                        <i class="ti-settings"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="single_feature_text">
                        <h5>Professional Code</h5>
                        <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                        <h2>01</h2>
                    </div>
                </div>
                <!-- Single Feature -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="ti-na"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="single_feature_text">
                        <h5>Eligent Interface</h5>
                        <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                        <h2>02</h2>
                    </div>
                </div>
                <!-- Single Feature -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="ti-mobile"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="single_feature_text">
                        <h5>Tablet, PC Control System</h5>
                        <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                        <h2>03</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Thumbnail Area -->
    <div class="product-thumbnail-area item" style="background-image: url(img/bg-img/product-2.jpg);"></div>
</section>
<!-- ***** Feature Area End ***** -->