<!-- ***** Frequently Asked Question Area ***** -->
<section class="frequently_asked_question section_padding_90_100 clearfix" id="faq">
    <div class="container">
        <div class="row">
            <!-- Heading Text  -->
            <div class="col-12 text-center">
                <div class="section-heading">
                    <h2>Some of our <br>Frequently Asked Question</h2>
                    <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How can I apply for a job?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How it Work?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How Can I Use it?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How Can I get it in Online?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How Can I Paid my Payment?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Single FAQ -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_faq">
                    <h5>How can I get my payment easily?</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id magna pretium, pellentesque</p>
                </div>
            </div>
            <!-- Support Button  -->
            <div class="col-12">
                <div class="support_text text-center">
                    <h4>Any Question? <a href="#">Contact us</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Frequently Asked Question End ***** -->