<footer class="footer-area">
    <div class="footer_grid">
        <div class="footer_grid_item">
            <h6>NOSOTROS</h6>
            <h6>¿Por qué Tu Banquero?</h6>
            <p>Como tú, odiamos las filas para pagar servicios...</p>
        </div>
        <div class="footer_grid_item">
            <h6>LEGAL</h6>
            <h6>Lo aburrido</h6>
            <ul class="footer-menu">
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
    </div>
    <div class="row_foot">
        <h6>Todos los derechos reservados. Tu Banquero 2018.</h6>
    </div>
</footer>