<!-- ***** Footer Area Start ***** -->
<section class="footer-area clearfix">
    <div class="top-footer-area pb-5">
        <div class="container">
            <div class="row">
                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg-2">
                    <div class="single_bottom_area mt-5">
                        <h5>Navigation</h5>
                        <ul class="footer-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single_bottom_area mt-5">
                        <h5>Useful Links</h5>
                        <ul class="footer-menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">Company Philosophy</a></li>
                            <li><a href="#">Career at blink.</a></li>
                            <li><a href="#">Customer Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg">
                    <!-- Single Bottom Area -->
                    <div class="single_bottom_area mt-5">
                        <h5>About blink.</h5>
                        <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                        <p>Everything that we know about our reality comes by way of our senses. In other words, our entire</p>
                        <!-- Social Links Area -->
                        <div class="social_links_area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Bottom Area -->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single_bottom_area mt-5">
                        <h5>Get In Touch</h5>
                        <p>Aliquam rhoncus finibus orci et facilisis. Vivamus ullamcorper at erat sit amet congue. Sed quis tellus in ex pellentesque sodales.</p>
                        <a href="#" class="d-block"><i class="fa fa-phone" aria-hidden="true"></i> +00777 222 111</a>
                        <a href="#" class="d-block"><i class="fa fa-envelope-open" aria-hidden="true"></i> example@example.com</a>
                        <a href="#" class="d-block"><i class="fa fa-globe" aria-hidden="true"></i> www.example.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <!-- Footer Text -->
        <div class="copywrite_text text-center">
            <p>Made With <i class="fa fa-heart"></i> by <a href="https://themeforest.net/user/designing-world/portfolio">Designing World</a></p>
        </div>
    </div>
</section>
<!-- ***** Footer Area End ***** -->