<!-- ***** Our Service Area Start ***** -->
<section class="our-service-area bg-white section_padding_90_50 clearfix" id="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <h2>Nuestros Servicios</h2>
                    <p>Digitalizamos tus productos bancarios</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Start -->
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="single-service text-center wow fadeInUp" data-wow-delay="0.2s">
                    <i class="ti-blackboard"></i>
                    <h5>Consolida tus Finanzas</h5>
                    <p>Tus reportes financieros de distintos bancos, en un solo lugar y totalmente gratis. </p>
                </div>
            </div>
            <!-- Single Service Start -->
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="single-service text-center wow fadeInUp" data-wow-delay="0.4s">
                    <i class="ti-rocket"></i>
                    <h5>Paga tus servicios</h5>
                    <p>No te olvides de pagar tus cuentas, al hacerlo puedes elegir promociones de diversos restaurantes y cafeterías. </p>
                </div>
            </div>
            <!-- Single Service Start -->
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="single-service text-center wow fadeInUp" data-wow-delay="0.6s">
                    <i class="ti-layout-grid2-alt"></i>
                    <h5>Siempre Contigo</h5>
                    <p>Olvídate de visitar sucursales bancarias. Consulta tus movimientos y realiza tus pagos, tienes a TuBanquero al alcance de tu mano. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Service Area End ***** -->