<!-- ***** Subscribe Area Start ***** -->
<section class="subscribe-area section_padding_90_100 bg-overlay1by3" style="background-image:url(img/bg-img/fondo2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 ml-auto wow fadeIn" data-wow-delay="1s">
                <!-- Subscribe Content Text -->
                <div class="subscribe_content">
                    <h2>Suscríbete y espera noticias sobre nuestro lanzamiento</h2>
                </div>

                <!-- Form Start -->
                <form action="#" method="post" class="subscribe-form">
                    <input type="email" class="email" placeholder="Enter your mail">
                    <button type="submit" class="submit btn blink-btn w-100">Subscribe Now</button>
                </form>
                <!-- Form End -->
            </div>
        </div>
    </div>
</section>
<!-- ***** Subscribe Area End ***** -->