<!-- ***** Welcome Area Start ***** -->
<section class="welcome_slides_area clearfix" id="home">
    <!-- Welcome Slides -->
    <div class="welcome_slides owl-carousel">
        <div class="welcome_area bg-overlay1by2 height-800" style="background-image: url(img/bg-img/fondo1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Wellcome Heading Text -->
                        <div class="welcome-text account">
                            <h2>Te presentamos: <br>TuBanquero</h2>
                            <p>Maneja tus finanzas desde un mismo lugar</p>
                            <a href="#" class="blink-btn mt-15">Conócenos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcome_area bg-overlay1by2 height-800" style="background-image:url(img/bg-img/fondo2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end text-center">
                    <div class="col-12">
                        <!-- Wellcome Heading Text -->
                        <div class="welcome-text account">
                            <h2>Observa tus transacciones y realiza pagos</h2>
                            <p>Depositos y pago de servicios</p>
                            <a href="#" class="blink-btn mt-15">Conócenos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->